.section-layout {
  max-width: 480px;
  margin: 0 auto;
  background-color: #ffffff;
  min-height: 100vh;
  overflow: auto;
}

.content {
  background-color: #ffffff;
}

.footer {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid rgb(33, 180, 195);
  z-index: 10;
}

.footer-center {
  display: flex;
  justify-content: space-around;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.link {
  font-size: 16px;
}
